/* THIS IS EXTERNAL CSS FILE FOR PART-13 */
p{
    color: black;
    background-color: aqua;
}
.color{
    color: brown;
    background-color: blue;

}
#pink{
    color: hotpink;
    background-color: white;
}